@import "tailwindcss";

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    font-feature-settings: "kern" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}